.icon{
	height: 230px;
}

#usuario{
	position:relative;
	left:130px;
	width: 220px;
}

#fondo{
	position: relative;
	background-color: rgba(0, 163, 238, 0.1);
	height: 800px;
	left:100px;
	width: 1150px;

	

}

#formCita{
	position: absolute;
	margin: auto;
	padding-left: 32px;
	top: 90px;
	left:50px;
	width: 420px;
	/*background-color: rgba(205, 208, 209, 0.3);*/
	z-index:2;
	border: white 2px outset;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8a8a8e+19,d2d8dd+51,95989b+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100 */
background: -moz-linear-gradient(-45deg, rgba(138,138,142,0) 0%, rgba(138,138,142,0.8) 15%, rgba(138,138,142,1) 19%, rgba(210,216,221,1) 51%, rgba(149,152,155,1) 80%, rgba(149,152,155,1) 81%, rgba(149,152,155,0.8) 85%, rgba(149,152,155,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(138,138,142,0)), color-stop(15%,rgba(138,138,142,0.8)), color-stop(19%,rgba(138,138,142,1)), color-stop(51%,rgba(210,216,221,1)), color-stop(80%,rgba(149,152,155,1)), color-stop(81%,rgba(149,152,155,1)), color-stop(85%,rgba(149,152,155,0.8)), color-stop(100%,rgba(149,152,155,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(138,138,142,0) 0%,rgba(138,138,142,0.8) 15%,rgba(138,138,142,1) 19%,rgba(210,216,221,1) 51%,rgba(149,152,155,1) 80%,rgba(149,152,155,1) 81%,rgba(149,152,155,0.8) 85%,rgba(149,152,155,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(138,138,142,0) 0%,rgba(138,138,142,0.8) 15%,rgba(138,138,142,1) 19%,rgba(210,216,221,1) 51%,rgba(149,152,155,1) 80%,rgba(149,152,155,1) 81%,rgba(149,152,155,0.8) 85%,rgba(149,152,155,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(138,138,142,0) 0%,rgba(138,138,142,0.8) 15%,rgba(138,138,142,1) 19%,rgba(210,216,221,1) 51%,rgba(149,152,155,1) 80%,rgba(149,152,155,1) 81%,rgba(149,152,155,0.8) 85%,rgba(149,152,155,0) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(138,138,142,0) 0%,rgba(138,138,142,0.8) 15%,rgba(138,138,142,1) 19%,rgba(210,216,221,1) 51%,rgba(149,152,155,1) 80%,rgba(149,152,155,1) 81%,rgba(149,152,155,0.8) 85%,rgba(149,152,155,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a8a8e', endColorstr='#0095989b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

.label1{

	font-size:12px;
	width: 330px;
	
}

#formReserva{
	position: absolute;

	top: 50px;
	left:570px;
	width: 530px;
	background-color: rgba(205, 208, 209, 0.3);
	z-index:2;
}

#formReserva1{
	position: absolute;
	top: 50px;
	left:530px;
	width: 530px;
	z-index:2;
}

#formCita h4{
	color: rgba(0, 138, 176, 1);
}

.fec{
	width: 150px;
}

.hor{
	position: absolute;
	left: 200px;
}

#eleccion{
	resize:none;	/*El elemento no es redimensionable.*/

}

div#menu{
	width: 200px;
	margin: 0px;	
}

div#menu ul{
	list-style: none;
}

div#menu ul li{
	margin-top: 10px;
	font-family: tahoma;
	font-size: 18px;
	background-color: #639bb3;
	width: 240px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 20px 20px 0px;
	box-shadow: 5px 0px 10px #939393;
	padding-left: 15px;
	border-color: #232729;
	-webkit-transition:padding-left 0.6s;
}

div#menu ul li:hover{
	padding-left: 50px;
	width:250px;
}

.bto{
	background-color: #639bb3;
	border-width: 0px;
	border: none;

}

.bto:active{
	border-color: #639bb3;
}

#resul{
	position: absolute;

	top: 90px;
	left:390px;
	width: 530px;
	
	z-index:2;
}

#resul1{
	position: absolute;

	top: 50px;
	left:380px;
	width: 650px;
	
	z-index:2;
}